<!DOCTYPE html>
<html lang='eng'>
    <head>
        <title>block note</title>
        <!-- add the css style -->
        <link rel="stylesheet" type="text/css" href="reset_style.css">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>

    <body>
        <header>
            <h1>Block note <small>blockchain based blocknote</small></h1>

            <ul class="navigation">
                <li>Home</li>
                <li>Information</li>
            </ul>
        </header>

        <div class= 'container'>
            <div class = 'transaction_enter'>
                <form>
                    <h2>write transaction</h2>
                    <textarea placeholder="write something">

                    </textarea>
                    <input type="submit">
                </form>

            </div>

            <div class = 'show_transaction'>
                <h2>show transaction</h2>

            </div>
        </div>

        <footer>

        </footer>
    </body>
</html>