* {
    --color1: #66C3FF;

}

header {
    width: 100%;
    background-color: var(--color1);
    height: 8rem;

    display: flex;

}

header h1 {
    text-align: center;
    display: flex;
    align-items: center;
}

.navigation {
    width: 100%;
    background-color: var(--color1);

    display: flex;
    align-items: flex-end;
}

.container {
    width: 80%;
}

.block {

}


footer {

}

